body {
    background-image: url('https://www.itl.cat/pngfile/big/47-473171_spotlight-black-and-white-clipart-kid-spotlight-stage.png');
    background-size: cover;
    text-align: center;
}

h1, h4 {
    color: whitesmoke;
    font-family: sans-serif;
}

img {
    width: 200px;
    
}