
body {
    background-image: url('https://www.itl.cat/pngfile/big/47-473171_spotlight-black-and-white-clipart-kid-spotlight-stage.png');
    background-size: cover;
    text-align: center;
}

h1 {
    color: whitesmoke;
    font-family: 'Syne Mono', monospace;
    font-size: 50px;
    padding: 30px 0 0 0;
    margin: 0;
}

h4 {
    padding: 0 0 50px 0;
    margin: 0;
    color: whitesmoke;
    font-family: 'Syne Mono', monospace;
    display: flex;
    justify-content: center;
}

#text-input-box {
    text-align: center;
    margin-bottom: 25px;
    display: flex;
    margin-left: 44%;
}